.CountriesList {
  margin: 40px;
}

.list-container {
  max-height: 700px;
  overflow-y: scroll;
  text-align: left;
  min-width: 320px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  background-color: rgba(172, 172, 172, 0.61);
  border-radius: 5px;
  padding: 10px;
}

.list-country-data {
  display: flex;
  justify-content: space-between;
  margin: 0px 10px 5px 10px;
  font-size: 1.3rem;
  line-height: 2rem;
  padding: 5px;
}

.button:hover {
  background-color: rgba(187, 187, 187, 0.527);
  cursor: pointer;
  border-radius: 3px;
  box-shadow: 0 0px 5px 1px rgba(187, 187, 187, 0.527);
}
