*:focus {
  outline: none;
}

input {
  padding: 0.5rem;
  font-size: 1rem;
  border: none;
  border-radius: 0.2rem;
  color: white;
  background-color: rgba(110, 110, 110, 0.596);
  width: 200px;
}

input::placeholder {
  color: rgb(255, 255, 255);
}

input::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

.search-dropdown {
  position: relative;
  display: inline-block;
}

.search-dropdown-content {
  max-height: 100vh;
  overflow-y: scroll;
  display: block;
  position: absolute;
  background-color: rgba(41, 41, 41, 0.75);
  color: white;
  width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  margin-left: 5px;
}

.search-dropdown-content::-webkit-scrollbar {
  display: none;
}

.search-dropdown-content div {
  padding: 5px;
  font-size: 1rem;
}

.search-dropdown-content div:hover {
  background-color: rgba(214, 191, 181, 0.226);
  cursor: pointer;
}

.search-dropdown:hover input {
  background-color: rgba(214, 191, 181, 0.658);
}

@media (max-width: 650px) {
  input {
    width: 410px;
  }
  .search-dropdown-content {
    width: 410px;
    margin-left: 0px;
  }
}
