:root {
  --primary: #ffffff;
  --secondary: rgb(28, 31, 36);
  --tertiary: #ff1616e0;
  --quaternary: rgba(24, 35, 54, 0.5);
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--primary);
  color: var(--secondary);
  width: 100%;
}

.LoadedApp-header {
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--secondary)
}

.map-container {
  min-width: 75vw;
  width: 100%;
  margin: 15px 0px;
}

.map {
  height: 450px;
  width: 100%;
}

.map .leaflet-container {
  height: 100%;
  border-radius: 5px;
}

.SelectedApp {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
}

.LoadedApp-nav {
  display: flex;
  justify-content: space-evenly;
  width: 430px;
}

/* Searchbox styling */
*:focus {
  outline: none;
}

input {
  padding: 0.5rem;
  font-size: 1rem;
  border: solid 1px var(--secondary);
  border-radius: 0.2rem;
  color: var(--secondary);
  width: 200px;
}

input::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

.search-dropdown {
  position: relative;
  display: inline-block;
}

.search-dropdown-content {
  max-height: 100vh;
  overflow-y: scroll;
  display: block;
  position: absolute;
  background-color: white;
  color: var(--secondary);
  width: 200px;
  z-index: 1000;
}

.search-dropdown-content::-webkit-scrollbar {
  display: none;
}

.search-dropdown-content div {
  padding: 5px;
  font-size: 1rem;
}

.search-dropdown-content div:hover {
  background-color: var(--quaternary);
  cursor: pointer;
  color: var(--primary);
}

/* dropdown menu styling */
.dropbtn {
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 0.2rem;
  width: 200px;
  color: var(--primary);
  border: none;
  background-color: var(--tertiary);
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  max-height: 65vh;
  overflow-y: scroll;
  display: none;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.99);
  color: var(--secondary);
  width: 200px;
  z-index: 1000;
}

.dropdown-content::-webkit-scrollbar {
  width: 12px;
}

.dropdown-content::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(255, 255, 255, 0);
  border-radius: 10px;
}

.dropdown-content::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: var(--tertiary);
}

.type::-webkit-scrollbar {
  display: none;
}

.dropdown-content div {
  padding: 5px;
  font-size: 1rem;
  display: block;
}

.dropdown-content div:hover {
  background-color: var(--quaternary);
  cursor: pointer;
  color: var(--primary);
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  cursor: pointer;
}

/* details section */
.details {
  display: flex;
  justify-content: center;
  max-width: 500px;
}

/* country summary styling */
.country-summary-container {
  margin: 10px;
  background-color: var(--primary);
  color: var(--secondary);
  border-radius: 5px;
  border: 1px solid gray;
  padding: 10px 0px 5px 0px;
}

.country-name h2 {
  margin: 0px 0px 10px 0px;
  color: var(--secondary);
}

.country-name img {
  margin-bottom: 10px;
}

.stat-item {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 1.3rem;
  padding: 1px;
}

.stat-item:hover {
  background-color: var(--primary);
  color: var(--secondary);
  border-radius: 3px;
  box-shadow: 0 0px 5px 1px rgba(187, 187, 187, 0.527);
}

/* country list */
.CountriesList {
  margin: 10px;
}

.list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  overflow-y: scroll;
  text-align: left;
  min-width: 480px;
  border: 1px solid gray;
  border-radius: 5px;
  color: var(--secondary);
}

.type {
  margin: 0px 0px 10px 0px;
  text-align: center;
}

.list-country-button {
  margin: 10px 0px 15px 0px;
}

.list-country-data {
  display: flex;
  font-size: 1.3rem;
  width: 100%;
  justify-content: left;
}

.list-country-data:hover {
  background-color: var(--quaternary);
  color: var(--primary);
  cursor: pointer;
  border-radius: 3px;
  box-shadow: 0 0px 5px 1px rgba(187, 187, 187, 0.527);
}

.button-right {
  display: flex;
  align-items: center;
  animation-name: bar-animation;
  animation-duration: 2s;
}

.list-container::-webkit-scrollbar {
  width: 12px;
}

.list-container::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(255, 255, 255, 0);
  border-radius: 10px;
}

.list-container::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: gray;
}

/* InfoCard style */
.InfoCard-row {
  display: flex;
  justify-content: space-evenly;
}

.InfoCard-container{
  border-radius: .2rem;
  padding: 5px;
  margin: 5px;
}

.InfoCard-total{
  font-size: 2rem;
}

.InfoCard-today {
  color: grey;
}

.Donut-container {
  margin: 40px 0px 40px 0px;
}

.HistoricalGraph-container {
  height: 300px;
}

.HistoricalGraph {
  height: 100%;
}

/* Footer style */
.Footer {
  background-color: var(--secondary);
  width: 100%;
  color: var(--primary);
  padding: 10px 0px 10px 0px;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.Footer p {
  margin: 4px;
}

.Footer a {
  color: rgb(209, 209, 209);
}

/* media queries */
@media (max-width: 990px) {
  .details {
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  .map-container {
    width: 80%;
  }
  .country-summary-container{
    max-width: 80%;
    margin: 0 10%;
    border: none;
  }
  .list-container{
    min-width: 330px;
    border: none;
    padding: 0;
  }
  .button-left{
    padding-left: 5px;
  }
  .InfoCard-row{
    flex-direction: column;
  }
  .country-section{
    width: 100%;
  }
  section{
    width: 100%;
  }
  .LoadedApp-nav{
    width: 100%;
    flex-direction: column;
  }
  header h1 {
    font-size: 1.5em;
  }
}

@keyframes bar-animation {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
