.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-header {
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-nav {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 1fr 2fr;
}

.menu-container {
  display: flex;
}

.map-container {
  width: 65vw;
  margin: 15px 0px;
}

.details {
  display: flex;
  justify-content: space-evenly;
}

@media (max-width: 650px) {
  .App-nav {
    grid-template-columns: 400px;
  }
  .details {
    flex-direction: column;
  }
  .map-container {
    width: 90vw;
  }
}
